<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カート一覧</title>
</head>
<style>
	.btn {
    padding:12px 24px;
    font-size:18px;
    background:#eee;
    border:1px solid #ccc;
    border-radius:5px;
    text-decoration:none;
    display:inline-block;
	}
	
	.btn:hover {
	    background:#ddd;
	}
</style>
<body>
<h2 style="text-align:center;">カート</h2>


<!-- カートが空の場合の表示 -->
    <p th:if="${cartItems == null or #lists.isEmpty(cartItems)}" style="color:red; font-weight:bold;">
		カートは空です
	</p>
	
	<div th:if="${cartItems != null and !#lists.isEmpty(cartItems)}" style="text-align:center;">
    	<form th:action="@{/cart/updateCart}" method="post">
			<table border="1" style="margin:0 auto;" id="cart-table">
			    <tr>
			        <th>商品名</th>
			        <th>税別価格</th>
			        <th>数量</th>
			        <th>削除</th>
			    </tr>
			
			    <tr th:each="item : ${cartItems}">
			        <td th:text="${item.itemName}">商品名</td>
			        <td th:text="${item.itemPrice}">1000</td>
			
			        <!-- 数量変更 -->
			        <td>
			            <input type="hidden" th:name="itemId" th:value="${item.itemId}" />
			            <select th:name="itemQuantity">
			                <option th:each="i : ${#numbers.sequence(1,10)}"
			                        th:value="${i}" th:text="${i}"
			                        th:selected="${i == item.itemQuantity}">
			                </option>
			            </select>
			        </td>
			
			        <!-- 削除チェックボックス -->
			        <td style="text-align:center;">
			            <input type="checkbox" th:name="removeItemId" th:value="${item.itemId}" />
			        </td>
			    </tr>
			</table>
			
			<div style="margin-top:10px;">
			    <button type="submit" name="action" value="update">数量を一括変更</button>
			    <button type="submit" name="action" value="delete">選択した商品を削除</button>
			</div>
		</form>
		<div style="margin-top:10px;">
	                <form th:action="@{/cart/clear}" method="post">
	                    <button type="submit" name="clearCart" value="true">全削除</button>
	                </form>
		</div>

    	
    	<!-- 合計金額 -->
		<div style="width:300px; padding:5px; margin:50px 0 0 760px; text-align:left;">
			    <p>税別合計: <span th:text="${totalExclTax}">0</span> 円</p>
			    <p>消費税合計: <span th:text="${totalTax}">0</span> 円</p>
			    <p>税込合計: <span th:text="${totalInclTax}">0</span> 円</p>
		</div>
		<div style="text-align:center; margin-top:20px;">
		<form th:action="@{/order/confirm}" method="post">
    		<button type="submit" class="btn">注文確認画面へ</button>
    	</div>
		</form>
		 
	</div>
	
	<!-- 全削除ボタン -->
               

<!-- 注文確認ボタンと買い物を続けるリンク -->
<div style="text-align:center; margin-top:20px;">
    <br>
    <a th:href="@{/item}" class="btn">買い物を続ける</a>
</div>

</body>
</html>