<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>商品一覧</title>
		<link th:href="@{/css/style.css}" rel="stylesheet">
		<script th:src="@{/js/main.js}"></script>
	</head>
<body>
	<div id="wrapper">
		    <!-- 共通ヘッダーを挿入 -->
    <header th:insert="~{header :: header_area}"></header>
		<main>
			<div class="page">
				<h2>商品一覧</h2>
			    
			    <!-- フラッシュメッセージ表示 -->
    			<div th:if="${message}" class="flash-message">
    				<p th:text="${message}"></p>
				</div>
			    
			    <div class="item-row">
					<form th:action="@{/search}" method="get">
    					<input type="text" name="keyword" th:value="${keyword}" placeholder="キーワード入力">
    						<select name="categoryId">
        						<option value="">-- 選択してください --</option>
        						<option th:each="cat : ${categoryForm}"
               					th:value="${cat.categoryId}"
                				th:text="${cat.categoryName}"
                				th:selected="${cat.categoryId == categoryId}">
        						</option>
    						</select>
    					<input type="submit" value="検索" class="btn">
					</form>
				</div>
				
				<div class="note-wrapper">
					<span class="item-Note">商品画像をクリックすると詳細ページに遷移します</span>
				</div>
				
			    
			    <div class="item-list">
			        <!-- 商品を繰り返し -->
			        <div class="item-card" th:each="items : ${itemForm}" th:data-url="@{/item/detail/{id}(id=${items.itemId})}">
							<h3 th:text="${items.itemName}"></h3>
							<img th:src="@{/images/{img}(img=${items.image})}" th:alt="${items.itemName}">
				            <p th:text="'¥' + ${items.itemPrice}"></p>
			        </div>
			    </div>
			</div>
			    
		</main>
		<footer></footer>
	</div>
</body>
</html>