<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>会員ログイン</title>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
			<h1>ログイン画面</h1>
			<hr>
		</header>
		<main>
			<div id="form-area">
				<form th:action="@{/login}" ht:object="${MemberLoginForm}" method="post">
					<div class="form-row">
						<label for="loginId" class="disp-block">ログインID</label>
						<input th:field="*{loginId}" size="50">
						<span th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="errors"></span>
					</div>
					
					<div class="form-row">
						<label for="password" class="disp-block">パスワード</label>
						<input type="password" th:field="*{password}" size="50">
						<span th:if="${#fields.hasErrors('password')}" th:errors="{password}" class="errors"></span>
					</div>
					
					<br>
					
					<div class="form-row">
						<input type="submit" value="ログイン" class="btn">
					</div>
					
					<br>
					
					<div class="form-row">
						<input type="submit" value="新規登録" class="btn">
					</div>
					
					<br>
					
					<div class="form-row">
						<input type="submit" value="戻る" class="btn">
					</div>
				</form>
			</div>
		</main>
		<footer></footer>
	</div>
</body>
</html>