	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
	    <meta charset="UTF-8">
	    <title>カート一覧</title>
	</head>
	<body>
	<h2 style="text-align:center;">カート</h2>
	
	<form th:action="@{/ordercomp}" th:object="${orderForm}" method="post">
		<div style="text-align:center;">
		    <table border="1" style="margin:0 auto;" id="cart-table">
		        <tr>
		            <th>商品名</th>
		            <th>税別価格</th>
		            <th>数量</th>
		        </tr>
		        <tr th:each="detail, iterStat : ${orderForm.orderDetailsForm}">
		            <!-- 商品情報 -->
		            
		            <td>
						<input type="hidden" th:field="*{orderDetailsForm[__${iterStat.index}__].itemId}" />
						<span th:text="${detail.itemName}">商品名</span>
					</td>
						
					<td>
						<input type="hidden" th:field="*{orderDetailsForm[__${iterStat.index}__].subtotal}" />
		            	<span th:text="${detail.subtotal}">1000</span>
					</td>
		            
		            <td>
						<input type="hidden" th:field="*{orderDetailsForm[__${iterStat.index}__].itemQuantity}" />
		            	<span th:text="${detail.itemQuantity}">1</span>
					</td>
		        </tr>
		
		    </table>
		</div>
	
		<!-- 合計金額・合計数量 -->
		<div style="width:300px; padding:5px; margin:50px 0 0 760px; display: flex; flex-direction: column; align-items: flex-end;">
			<p style="margin: 5px 0 5px 0;">税別合計: <span th:text="${totalExclTax}">0</span> 円</p>
			<p style="margin: 5px 0 5px 0;">消費税合計: <span th:text="${totalTax}">0</span> 円</p>
		
		    <div style="display: flex; gap: 5px;">
				<p style="margin: 5px 0 5px 0;">商品合計数: <span th:text="${totalQuantity}">0</span>個</p>
				<p style="margin: 5px 0 5px 0;">税込合計: <span th:text="${totalInclTax}">0</span> 円</p>
			</div>
		</div>
		
		<!-- 住所・支払方法・発送の選択 -->
		<div style="text-align:center;">
			<p style="margin: 5px 0 5px 0;">お間違いなければ、下記フォームを入力の上、注文ボタンを押下してください</p>
			
				<div style="display: flex; gap: 5px;">
					<label>
						
						<p>お届け先<input type="radio" th:field="*{addressOption}" value="member" />ご登録いただいてる住所に配達</p>
					</label>
				</div>
				
				<div style="display: flex; gap: 5px;">
					<label>
						<p><input type="radio" th:field="*{addressOption}" value="other" />それ以外の方は、下記に住所を入力してください</p>
					</label>
				</div>
					
		
		
						<p>名前: 
		    <input type="text" th:field="*{shippingForm.shippingName}">
		    <span th:if="${#fields.hasErrors('shippingForm.shippingName')}" th:errors="*{shippingForm.shippingName}" style="color:red"></span>
				</p>
				
				<p>フリガナ: 
				    <input type="text" th:field="*{shippingForm.shippingKana}">
				    <span th:if="${#fields.hasErrors('shippingForm.shippingKana')}" th:errors="*{shippingForm.shippingKana}" style="color:red"></span>
				</p>
				
				<p>電話番号: 
				    <input type="text" th:field="*{shippingForm.shippingphone}">
				    <span th:if="${#fields.hasErrors('shippingForm.shippingphone')}" th:errors="*{shippingForm.shippingphone}" style="color:red"></span>
				</p>
				
				<p>郵便番号: 
				    <input type="text" th:field="*{shippingForm.shippingPostalCode}">
				    <span th:if="${#fields.hasErrors('shippingForm.shippingPostalCode')}" th:errors="*{shippingForm.shippingPostalCode}" style="color:red"></span>
				</p>
				
				<p>都道府県: 
				    <input type="text" th:field="*{shippingForm.shippingAddress1}">
				    <span th:if="${#fields.hasErrors('shippingForm.shippingAddress1')}" th:errors="*{shippingForm.shippingAddress1}" style="color:red"></span>
				</p>
				
				<p>市区町村: 
				    <input type="text" th:field="*{shippingForm.shippingAddress2}">
				    <span th:if="${#fields.hasErrors('shippingForm.shippingAddress2')}" th:errors="*{shippingForm.shippingAddress2}" style="color:red"></span>
				</p>
				
				<p>番地: 
				    <input type="text" th:field="*{shippingForm.shippingAddress3}">
				    <span th:if="${#fields.hasErrors('shippingForm.shippingAddress3')}" th:errors="*{shippingForm.shippingAddress3}" style="color:red"></span>
				</p>
			
				    
				  <!-- 支払い方法 -->
	<div style="display: flex; align-items: center; gap: 10px;">
	    <label>
	        <input type="radio" th:field="*{payment}" value="現金"/> 代引き
	    </label>
	    <label>
	        <input type="radio" th:field="*{payment}" value="クレジット"/> クレジットカード
	    </label>
	    <!-- エラーを横に表示 -->
	    <span th:if="${#fields.hasErrors('payment')}" th:errors="*{payment}" style="color:red; margin-left:10px;"></span>
	</div>
	
	<!-- 発送方法 -->
	<div style="display: flex; align-items: center; gap: 10px; margin-top:5px;">
	    <label>
	        <input type="radio" th:field="*{shipping}" value="Standard"/> 通常配送
	    </label>
	    <label>
	        <input type="radio" th:field="*{shipping}" value="Specify"/> 日時指定
	    </label>
	    <!-- エラーを横に表示 -->
	    
	    
	    <!-- 日時入力 -->
	    <input type="text" placeholder="1～12" style="margin-left:10px;"/>月
	    <input type="text" placeholder="1～31"/>日
	    <input type="text" placeholder="00：00"/>時
	    <span th:if="${#fields.hasErrors('shipping')}" th:errors="*{shipping}" style="color:red; margin-left:10px;"></span>
	</div>
		
					
					
		
					<button type="submit" style="padding:12px 24px; font-size:18px;">確定</button>
		</div>
	</form>
		
	
	
	<div style="text-align:center; margin-top:20px;">
	    <a th:href="@{/cart}">戻る</a>
	</div>
	
	</body>
	</html>